{% extends 'base/base.html' %}

{% block one-third-one %}
<h4>{{ message }} </h4>
<p> Наш прооект задумывался для помощи владельцам собак в городе. </p>
<p> Зачастую, гуляя с собакой по городу, приходится оставлять своего друга на улице, потому что правилами заведения
    запрещено входить с животными.
    Где-то это обусловлено санитарными нормами (продуктовые магазины), но приходится сталкиваться с агреесий продавцов
    или боязнью собак.</p>
<p> Если у Вас есть собака, Вы вероятно сталкивались с такой проблемой. К сожалению далеко не все dogfriendly :( </p>
<p> Было решено создать сайт, где владельца собак могут оставить свои отзывы о таких заведениях.</p>

Поэтому регистрируемся, общаемся, ставим оценки, оставляем комментарии и делимся фотографиями своих питомцев!  </p>
{% endblock %}