{% extends 'base/base.html' %}

{% block one-third-one %}
    {% if user.is_authenticated %}
        <b> Добро пожаловать {{ user.username }}</b>
        <p> Вы можете добавить своих <a href="{% url 'pet' %}">питомцев</a>,</p>
        <p> Оставить <a href="{% url 'rating' %}">отзывы</a>  о заведениях своего города </p>
    {% else %}
         <h4>{{ message }}</h4>
        <p> Наш сайт посвящен антирейтингу заведений города, в которые запрещено заходить с собаками.  </p>
        <p> Владельцы животных делятся своими комментариями и впечатлениями. </p>
        <p> Чтобы оставить комментарий, необходимо <a href="{% url 'login' %}">войти</a> или <a href="/reg_user">зарегистрироваться.</a> </p>
    {% endif %}

{% endblock %}