{% extends 'base/base.html' %}

{% load static %}
{% block two-thirds-one %}
    {% if user.is_authenticated %}

        <h4>{{ message }}</h4>
          <div class="photos-container">
            {% for photo in photos %}
                <div class="photo-container">
                    <img  src="{{ photo.image.url }}" alt="Photo" width="250" height="150">
                    <p>{{ photo.comment }}</p>
                </div>
            {% endfor %}
         </div>
    {% endif %}
{% endblock %}

{% block one-third-one %}
    {% if user.is_authenticated %}
        <h4>{{ message }}</h4>
        {% for pet in pets %}
        <p><a href="{% url 'photo' %}">  {{ pet.nickname }} </a>- {{ pet.breed }} </p>
        {% endfor %}
    {% else %}
         <a href="{% url 'login' %}">войти</a>
    {% endif %}
{% endblock %}


